@model IEnumerable<InternetShopAspNetCoreMvc.Domain.Models.Category>

@{
	ViewData["Title"] = "Categories";
}

<div class="center">
	<h1>Categories</h1>
	<a class="btn btn-dark" asp-area="" asp-controller="Categories" asp-action="Manage">Manage categories</a>
</div>

@if (Model?.Any() == true)
{
	<table class="table">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="CategoryProducts" asp-route-id="@item.Id">See Products</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<div class="alert alert-info mt-3">
		No categories available. Use the Manage categories button to add some.
	</div>
}
